*{
    margin: 0%;
    padding: 0%;
}
.text{
    display: flex;
}
figure img{
    width: 87%;
    padding-left: 6%;
}
body{
    background-color: #6d9773;
}
h3{
    padding-left: 10%;
    padding-top:  4%;;
    color: white;
    padding-right: 5%;
    font-size: 200%;
}
h1{
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
    font-size: 400%;
}
